# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/

# iOS / Android gerados
ios/Pods/
android/.gradle/
android/local.properties
